header {
  padding: 1% 0;
  background-color: #8d8c8a;
}

h1 {
  font-size: 50px;
  margin: 1% 0;
}

.max-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.vertical-center {
  min-height: 100%;
  min-height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-style {
  background-color: #52d6f4;
  border-radius: 10px;
  border: 2px solid black;
  padding: 2em;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}

input {
  background-color: #fff;
  border: 1px solid #8d8c8a;
}
