.class-component {
  background-color: #f6f6f6;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#form-style {
  padding: 1em;
  background-color: #52d6f4;
  border-radius: 15px;
  border: 2px solid black;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}

input {
  border-radius: 5px;
  border: none;
}

.eye-style {
  cursor: pointer;
}

button {
  width: 50%;
  border-radius: 10px;
}

.message-style {
  color: red;
  font-style: italic;
}
