<app-menu></app-menu>
<section id="heading">
    <span class="title">{{title}}</span>
</section>

<section id="about">
    <div class="container-lg">
        <div class="about-container">
            <div class="about-title">Description</div>
            <div class="about-desc">The purchase request system allows company employees to submit requests to purchase items from specific vendors with approval from management as determined through business rules.</div>
        </div>
    </div>
    <div class="container-lg">
        <div class="about-container">
            <div class="about-title">User Features</div>
            <div class="about-desc">
                <ul>
                    <li>All users can view data from all tables. All users can create requests and edit and delete their own requests.</li>
                    <li class="about-desc">Base level users can only view their own requests.</li>
                    <li class="about-desc">Reviewers can view all requests and have access to the review tab which allows them to reject or approve all requests except their own requests.</li>
                    <li>Admins have access to create, edit and delete data from any table.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-lg">
        <div class="about-container">
            <div class="about-title">Technologies</div>
            <div class="d-flex justify-content-center flex-wrap">
                <img src="./../../../assets/mysql-logo.svg" alt="MySQL Logo">
                <img src="./../../../assets/java-logo.svg" alt="Java Logo">
                <img src="./../../../assets/spring-logo.svg" alt="Spring Logo">
                <img src="./../../../assets/hibernate-logo.svg" alt="Hibernate Logo">
                <img src="./../../../assets/json-logo.svg" alt="Json Logo">
                <img class="img-color" src="./../../../assets/angular.svg" alt="Angular Logo">
                <img src="./../../../assets/ts-logo.svg" alt="TypeScript Logo">
                <img src="./../../../assets/html-logo.svg" alt="HTML Logo">
                <img src="./../../../assets/css-logo.svg" alt="CSS Logo">
            </div>
        </div>
    </div>
</section>

