#heading {
  text-align: center;
  font-size: 50px;
  padding: 1% 0;
}

.about-container {
  background-color: #52d6f4;
  border-radius: 10px;
  box-shadow: 0 50px 100px rgb(50 50 93 / 5%), 0 15px 35px rgb(50 50 93 / 10%),
    0 5px 15px rgb(0 0 0 / 10%);
  padding: 1.5rem;
  margin: 2rem;
}

.about-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-desc {
  font-size: 18px;
}

li {
  list-style-type: square;
}

img {
  height: 150px;
  width: 300px;
  margin: 1rem;
}
